<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Вход</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/auth.css') }}">
</head>
<body>
<div class="auth-container">
    <div class="auth-header">
        <a href="{{ url_for('auth.login') }}" class="auth-tab active">Вход</a>
        <a href="{{ url_for('auth.register') }}" class="auth-tab">Регистрация</a>
        <a href="{{ url_for('index') }}" class="auth-close">X</a>
    </div>
    
    <!-- Блок для отображения флеш-сообщений -->
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <div class="flash-messages">
                {% for category, message in messages %}
                    <div class="flash {{ category }}">{{ message }}</div>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}
    
    <form action="{{ url_for('auth.login') }}" method="POST">
        <input type="email" name="email" placeholder="Введите Email" required>
        <input type="password" name="password" placeholder="Введите пароль" required>
        <button type="submit" class="auth-button">Вход</button>
    </form>
</div>
</body>
</html>