<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Регистрация</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/auth.css') }}">
</head>
<body>
<div class="auth-container">
    <div class="auth-header">
        <a href="{{ url_for('auth.login') }}" class="auth-tab">Вход</a>
        <a href="{{ url_for('auth.register') }}" class="auth-tab active">Регистрация</a>
        <a href="{{ url_for('index') }}" class="auth-close">X</a>
    </div>

    <!-- Блок для отображения флеш-сообщений, которые будут показаны только один раз -->
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <div class="flash-messages">
                {% for category, message in messages %}
                    <div class="flash {{ category }}">{{ message }}</div>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}

    <form action="{{ url_for('auth.register') }}" method="POST">
        <input type="text" name="username" placeholder="Имя минимум 4 символа" required>
        <input type="email" name="email" placeholder="Введите Email" required>
        <input type="password" name="password" placeholder="Пароль минмум 6 символов" required>
        <input type="password" name="confirm_password" placeholder="Подтвердите пароль" required>
        <input type="text" name="phone" placeholder="Введите телефон">
        <input type="text" name="address" placeholder="Введите адрес">
        <button type="submit" class="auth-button">Регистрация</button>
    </form>
</div>
</body>
</html>